{{ block "home" . }}
<!DOCTYPE html>
<html>
  {{ template "head" . }}
  <title>RambanBelajar</title>
  <body hx-ext="response-targets" class="bg-[whitesmoke]">
    {{ template "loader" . }}
    <div class="wrapper flex flex-col h-screen">
      {{ template "webpane-top" . }}
      <div class="content h-[92%] flex gap-[1rem]">

        {{ template "webpane-left" . }}

        <div id="right-section-content" class="w-[80%] flex flex-col items-center mt-[1.5rem]">
            <div class="top-section">
                <p class="mt-[1rem] border-[2px] border-gray-400 px-[3rem] py-[1rem] rounded-sm text-[.8rem] shadow">
                  Welcome Youre Presence is Expected by Greatness
                </p>
            </div>
        </div>

    </div>
  </body>
</html>
{{ end }}
