{{ block "login" . }}
<!DOCTYPE html>
<html>
    {{ template "head" . }}
    <title>Login</title>
    <body hx-ext="response-targets" class="flex justify-center">
      {{ template "loader" . }}
      <div id="wrapper-content" class="w-[80%] h-[80vh] flex flex-col items-center justify-center gap-[2rem]">
          <div class="logo flex items-center gap-[.6rem] font-semibold text-[2rem]">
              <i class="fa-solid fa-graduation-cap"></i>
              <span>RambanBelajar</span>
          </div>

          {{ if eq .Role "admin" }}
          <p class="flex flex-col justify-center items-center mt-[-1.3rem]">
              <span class="font-semibold">Login to Admin Panel</span>
              <span class="text-[.8rem]">Admin Only</span>
          </p>
          {{ end }}

          <form
              {{ if eq .Role "admin" }}
              hx-POST="/admin/login"
              {{ else }}
              hx-POST="/login"
              {{ end }}
              hx-indicator="#loader-indicator"
              hx-target-error="#error-message"
              class="bg-[white] p-[2rem] flex flex-col gap-[1rem]
              border border-gray-400 shadow-sm rounded-sm">
              <input type="hidden" name="_csrf" value="{{ .CSRF_Token }}">
              <div class="wrapper-inpt flex flex-col gap-[.5rem] border border-gray-400
                  rounded pt-[.5rem] pl-[.6rem] pb-[.4rem]">
                  <label for="email" class="font-semibold  text-[.9rem]">Email</label>
                  <input class="outline-none h-[3vh] text-[1.2rem]" required
                    type="email" name="email" id="email" autofocus>
              </div>
              <div class="wrapper-inpt flex flex-col gap-[.5rem] border border-gray-400
                  rounded pt-[.5rem] pl-[.6rem] pb-[.4rem]">
                  <label for="password" class="font-semibold text-[.9rem]">Password</label>
                  <input class="outline-none h-[3vh] text-[1.2rem]" required
                    type="password" name="password" id="password">
              </div>

              <div class="btns flex flex-col items-center gap-[.8rem] [&>button]:cursor-pointer">
                  <button
                      type="submit"
                      class="mt-[.6rem] bg-blue-600 w-[100%] py-[.5rem]
                      font-bold text-[white] rounded-md shadow-sm uppercase">
                        Login
                  </button>
                  <a href="/students/submission"
                      class="uppercase underline">
                      sign up
                  </a>
              </div>

          </form>
          <div id="error-message"></div>
      </div>
    </body>
</html>
{{ end }}

{{ block "login-page" . }}
<!DOCTYPE html>
<html>
  {{ template "head" . }}
  <title>Login - RambanBelajar</title>
  <body hx-ext="response-targets">
    {{ template "loader" . }}
    <div class="flex [&>div]:w-[50%] h-screen overflow-x-hidden">
      <div class="bg-linear-to-r from-blue-800 to-cyan-500 h-full px-[3rem] 
        flex flex-col justify-center gap-[.8rem]">

        <div class="flex items-center gap-[.8rem] text-[3rem] font-bold">
          <span class="fa-solid fa-graduation-cap"></span>
          <span>RambanBelajar</span>
        </div>

        <div class="text-[1.1rem] font-semibold">
          Lorem Ipsum shite gibberish kinda thing.
          ideas doesnt fully form at first, ideas flow as you starts.
          i dont know how to build a damn ... Mark Zuckerberg, oh then he said
          "to be successfull is to have freedom to fails"
        </div>

      </div>

      <div class="h-full flex flex-col justify-center px-[10rem] gap-[1rem]">
        <h2 class="font-bold text-[1.2rem]">
          Login
        </h2>

        {{ if eq .Role "admin" }}
        <h2 class="font-bold text-[1.3rem]">Admin Panel</h2>
        {{ end }}

        <form class="flex flex-col gap-[1rem] w-full"
          {{ if eq .Role "admin" }} hx-POST="/admin/login" {{ else }} hx-POST="/login" {{ end }}
          hx-indicator="#loader-indicator" hx-target-error="#error-message">

            <input type="hidden" name="_csrf" value="{{ .CSRF_Token }}">
            <div class="wrapper-inpt flex flex-col gap-[.5rem] border border-gray-400
                rounded pt-[.5rem] pl-[.6rem] pb-[.4rem]">
                <label for="email" class="font-semibold  text-[.9rem]">Email</label>
                <input class="outline-none h-[3vh] text-[1.2rem]" required
                  type="email" name="email" id="email" autofocus>
            </div>

            <div class="wrapper-inpt flex flex-col gap-[.5rem] border border-gray-400
                rounded pt-[.5rem] pl-[.6rem] pb-[.4rem]">
                <label for="password" class="font-semibold text-[.9rem]">Password</label>
                <input class="outline-none h-[3vh] text-[1.2rem]" required
                  type="password" name="password" id="password">
            </div>

            <div class="btns flex flex-col items-center gap-[.8rem] [&>button]:cursor-pointer">
                <button
                  type="submit"
                  class="mt-[.6rem] bg-blue-600 w-[100%] py-[.5rem]
                  font-bold text-[white] rounded-md shadow-sm uppercase">
                    Login
                </button>
                <a href="/students/submission" class="underline">
                  forgot password
                </a>
            </div>
        </form>
        <div id="error-message"></div>
      </div>
    </div>
  </body>
</html>
{{ end }}





