{{ block "login" . }}
<!DOCTYPE html>
<html>
    {{ template "head" . }}
    <title>Login</title>
    <body class="relative">
      {{ template "loader" . }}
      {{ if .Message }}
          <div id="error-message"
                class="absolute w-[100%] h-[fit-content] border border-red-800 bg-red-300
                  px-[4rem] py-[.8rem] flex justify-between items-center">
              {{ .Message }}
              <span>close</span>
          </div>
      {{ end }}
      <div id="wrapper-content" class="h-[80vh] flex flex-col
      items-center justify-center gap-[2rem]">
        <div class="logo flex items-center gap-[.6rem]
        font-semibold text-[2rem]">
          <i class="fa-solid fa-graduation-cap"></i>
          <span>RambanBelajar</span>
        </div>
        <form
            hx-POST="/login" hx-indicator="#loader-indicator" hx-target="body"
            class="bg-[white] w-[30%] p-[2rem] flex flex-col gap-[1rem]
            border border-gray-400 shadow-sm rounded-sm
            "
          >
            <div
              class="wrapper-inpt flex flex-col gap-[.5rem]
              border border-gray-400 rounded pt-[.5rem] pl-[.6rem] pb-[.4rem]
              "
              >
                <label for="email" class="font-semibold  text-[.9rem]">Email</label>
                <input class="outline-none h-[3vh] text-[1.2rem]" required
                  type="email" name="email" id="email" autofocus>
            </div>
            <div
              class="wrapper-inpt flex flex-col gap-[.5rem]
              border border-gray-400 rounded pt-[.5rem] pl-[.6rem] pb-[.4rem]
              "
              >
                <label for="password" class="font-semibold text-[.9rem]">Password</label>
                <input class="outline-none h-[3vh] text-[1.2rem]" required
                  type="password" name="password" id="password">
            </div>
            <div class="btns flex flex-col items-center gap-[.8rem] [&>button]:cursor-pointer">
              <button
                type="submit"
                class="mt-[.6rem] bg-blue-600 w-[100%] py-[.5rem]
                font-bold text-[white] rounded-md shadow-sm uppercase"  
              >Login</button>
              <a href="/students/submission"
                class="uppercase underline"  
              >sign up</a>
            </div>
        </form>
      </div>
    </body>
</html>
{{ end }}
