{{ block "students" . }}
<!DOCTYPE html>
<html>
  {{ template "head" . }}
  <title>Students</title>
  <body class="flex justify-center items-center h-screen bg-[whitesmoke]">
    {{ template "loader" . }}
    <div
            id="wrapper-content"
            class="wrapper-content w-[90%] h-[80%] flex flex-col gap-y-[1rem]
            rounded shadow-lg bg-[#ffffff] py-[1.5rem] px-[2.5rem]"
      >
      <a href="/"
                  class="back-refresh flex gap-x-[.5rem] shadow-sm border border-gray-300
                  text-[.7rem] w-fit rounded cursor-pointer items-center px-[.8rem] py-[.3rem] font-semibold
                  hover:bg-[#0000003a] transition"
      >
                  <i class="fa-solid fa-arrow-left"></i>
                  <span>Back</span>
            </a>
      <h2 class="font-semibold">/students</h2>
      {{ template "students-content" . }}
    </div>
  </body>
</html>
{{ end }}

{{ block "students-content" . }}
<div id="students" class="flex gap-[.8rem] h-[100%] mt-[1rem]">
      {{ range .Students }}
            <a href="/student/profile/{{ .ID }}"
            class="border border-gray-400 shadow-md rounded-md items-center
                  flex gap-[.8rem] w-[15%] h-fit p-[.5rem] text-[.8rem] font-semibold">
                  <i class="fa-solid fa-image-portrait text-[3.5rem]"></i>
                  <div class="snippet flex flex-col gap-[.3rem]">
                        <p class="name text-wrap leading-none">{{ .Name }}</p>
                        <p class="nim">{{ .Nim }}</p>
                  </div>
            </a>
      {{ end }}
</div>
{{ end }}
