{{ block "student-submission" . }}
<!DOCTYPE html>
<html>
      {{ template "head" . }}
      <title>Student Submission</title>
      <body class="flex justify-center items-center h-screen bg-[whitesmoke]">
            {{ template "loader" . }}
            <div
            id="wrapper-content"
            class="wrapper-content w-[90%] h-[80%] flex flex-col gap-y-[1rem]
            rounded shadow-lg bg-[#ffffff] py-[1.5rem] px-[2.5rem]"
      >
            <a href="/"
                  class="back-refresh flex gap-x-[.5rem] shadow-sm border border-gray-300
                  text-[.7rem] w-fit rounded cursor-pointer items-center px-[.8rem] py-[.3rem] font-semibold
                  hover:bg-[#0000003a] transition"
      >
                  <i class="fa-solid fa-arrow-left"></i>
                  <span>Back</span>
            </a>
            <div class="wrapper-form flex flex-col gap-y-[1rem] h-[100%] mt-[1rem]">
                  <h2 class="font-semibold">/student/submission</h2>
                  <form hx-POST="/students/submission" hx-indicator="#loader-indicator"
                  class="h-[inherit] flex flex-col gap-y-[.8rem]
                  [&_.wrapper-inpt]:rounded-md [&_.wrapper-inpt]:shadow-md [&_.wrapper-inpt]:border-gray-400 [&_.wrapper-inpt]:border
                  [&_input]:text-[.9rem] [&_input]:h-[4vh] [&_select]:text-[.9rem] [&_select]:h-[4vh]
                  [&_label]:text-[.8rem] [&_label]:font-semibold ">
                        <div class="top-inpts flex gap-x-[1rem] [&>.wrapper-inpt]:h-fit">
                              <div class="wrapper-inpt flex flex-col w-[50%] pt-[.3rem] pb-[.5rem] px-[.8rem]">
                                    <label for="email">Email</label>
                                    <input required type="email" name="email" id="email" placeholder="example@example.com"
                                    class="outline-none text-[.7rem] h-[3vh]"
                                    />
                              </div>
                              <div class="wrapper-inpt flex flex-col w-[50%] pt-[.3rem] pb-[.5rem] px-[.8rem]">
                                    <label for="major">Major</label>
                                    <select name="major" id="major"
                                    class="outline-none text-[.7rem] h-[3vh] font-semibold">
                                          {{ range .Major }}
                                          <option value="{{ . }}">{{ . }}</option>
                                          {{ end }}
                                    </select>
                              </div>
                        </div>
                        <div class="bottom-inpts flex gap-x-[1rem] [&>.wrapper-inpt]:h-fit">
                              <div class="wrapper-inpt flex flex-col w-[40%] pt-[.3rem] pb-[.5rem] px-[.8rem]">
                                    <label for="name">Fullname</label>
                                    <input type="text" name="name" id="name" placeholder="John Doe"
                                    class="outline-none">
                              </div>
                              <div class="wrapper-inpt flex flex-col w-[40%] pt-[.3rem] pb-[.5rem] px-[.8rem]">
                                    <label for="phone">Phone</label>
                                    <input type="text" name="phone" id="phone" placeholder="+621113334445"
                                    class="outline-none">
                              </div>
                              <div class="wrapper-inpt flex flex-col w-[40%] pt-[.3rem] pb-[.5rem] px-[.8rem]">
                                    <label for="nip">Nomer Induk Pengguna</label>
                                    <input type="text" name="nip" id="nip"
                                    class="outline-none">
                              </div>
                        </div>
                        <div class="t-and-c text-[.8rem] pl-[1rem] mt-[1rem]">
                              <ul class="flex justify-between gap-x-[2.2rem] list-decimal text-justify underline">
                                    <div class="w-[50%]">
                                          <li>
                                          The information provided in this form is true, accurate, and complete
                                          to the best of my knowledge.
                                          </li>
                                          <li>
                                          I understand that any false or misleading information may result in
                                          the rejection of my submission or further disciplinary action as per
                                          college regulations.
                                          </li>
                                          <li>
                                          I agree to comply with all academic and administrative policies of the
                                          college related to semester registration and submissions.
                                          </li>
                                    </div>
                                    <div class="w-[50%]">
                                          <li>
                                          I acknowledge that the college reserves the right to verify the
                                          details submitted and request additional documentation if necessary.
                                          </li>
                                          <li>
                                          I accept that late submissions may be subject to penalties or may not
                                          be accepted, in accordance with the deadlines set by the college.
                                          </li>
                                    </div>
                              </ul>
                        </div>
                        <div class="check-tc flex items-center gap-x-[.5rem] w-[50%]">
                              <input type="checkbox" name="check" id="agreeCheck" />
                              <p class="text-[.75rem]">
                                    I have read and understood the Terms & Conditions and agree to abide by
                                    them.
                              </p>
                        </div>
                        <div class="btns w-fit flex gap-x-[.5rem]">
                              <button id="submitBtn"
                                    type="submit"
                                    class="submitBtn bg-gray-600 text-white py-[.5rem] px-[.8rem] text-[.7rem]
                                    rounded shadow-sm border border-gray-300 w-fit font-semibold disabled cursor-not-allowed transition">
                                    Submit
                              </button>
                              <button type="reset" class="text-[.8rem] font-semibold cursor-pointer">
                                    Reset
                              </button>
                        </div>
                  </form>
            </div>
      </div>
      <script>
            const checkbox = document.getElementById("agreeCheck");
            const submitBtn = document.getElementById("submitBtn");

            checkbox.addEventListener("change", () => {
                  submitBtn.disabled = false;
                  submitBtn.classList.toggle("bg-blue-600", true);
                  submitBtn.classList.toggle("hover:bg-blue-800", true);
                  submitBtn.classList.toggle("cursor-pointer", true);
                  submitBtn.classList.toggle("cursor-not-allowed", false);
                  submitBtn.classList.toggle("bg-gray-600", false);
            });
      </script>
      </body>
</html>
{{ end }}

{{ block "submission-succeed"  . }}
<div
      id="wrapper-content"
      class="wrapper-content w-[50%] flex flex-col gap-y-[.8rem] mt-[1.5rem] font-semibold font-sans text-[.7rem]"
      hx-swap-oob="outerHTML">
      <div
            class="message border border-green-600 bg-green-300 text-green-800
            p-[.6rem] px-[1.2rem] rounded shadow-sm flex justify-center "
      >
            {{ .Message }}
      </div>
      <div
            class="student border border-blue-600 bg-blue-300 text-blue-800
            p-[.6rem] px-[1.2rem] rounded shadow-sm flex gap-x-[.8rem]"
      >
            <div>
                  <p class="name uppercase">{{ .Student.Name }}</p>
                  <p class="nim">Nim: {{ .Student.Nim }}</p>
                  <p class="email">Email: {{ .Student.Email }}</p>
            </div>
            <div>
                  <p class="major">{{ .MoreStudentInfo.StudyPlan.Major }}</p>
                  <p class="Semester">Semester {{ .MoreStudentInfo.StudyPlan.Semester }}</p>
                  <p class="room">{{ .MoreStudentInfo.Room.Name }}</p>
            </div>

      </div>
      <button
            onclick="window.location.reload(true)"
            class="back-refresh flex gap-x-[.5rem] shadow-sm text-[.7rem] w-fit rounded cursor-pointer
            items-center px-[.8rem] py-[.3rem] bg-green-400 text-green-800 border border-green-600"
      >
            <i class="fa-solid fa-arrow-left"></i>
            <span>Back</span>
      </button>
</div>
{{ end  }}
